<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta property="og:title" content="Metaflux, flux for vanilla JavaScript">
	<meta property="og:description" content="Easy flux pattern with vanilla JavaScript, lightweight and reliable.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="img/default-logo.svg">
	<script src="https://cdn.jsdelivr.net/gh/rebelstackio/prettyComponents@1.0.2-c/main.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="shortcut icon" href="img/default-logo.svg" type="image/x-icon">
	<title>{{name}}</title>
</head>
<body class="docs-theme-{{theme}}">
	<div id="content">
<!--                               MAIN HEADER                                  -->
		<div class="main-header">
			<div class="logo">
				<img src="img/default-logo-white.svg" alt="default-logo">
			</div>
			<div class="items">
				<div class="item active">Home</div>
				<div class="item" href="docs/overview/">Documentation</div>
				<div class="item" href="community/">Community</div>
				<div class="item" href="blog/">Blog</div>
			</div>
			<div class="socials mobile-hidden">
				<div class="gh" href="{{repository}}"><i class="fab fa-github"></i></div>
				<div class="discord" href="{{discord}}"><i class="fab fa-discord"></i></div>
			</div>
		</div>
<!--                             MAIN CONTENT                                   -->
		<div class="main-content">
			<div class="sumary">
				<div>
					<h1> {{name}} </h1>
					<p>
						{{description}}
					</p>
					<pretty-button size="large" href="/docs/overview/" value="Get Started"></pretty-button>
				</div>
				<img src="img/default-logo.svg" alt="default-logo">
			</div>
			<div class="benefits">
				{{benefits}}
			</div>
			<div class="related">
				<h3>Other libraries well-siuted with {{name}}</h3>
				<div class="related-links">
					{{links}}
				</div>
			</div>
		</div>
<!--                              FOOTER                                        -->
		<div class="footer">
			<div class="docs">
				<h4>Docs</h4>
				<a href="docs/overview/">Getting Started</a>
				<a href="docs/faq/">FAQ</a>
				<a href="docs/examples/">Examples</a>
				<a href="docs/api/">API Reference</a>
			</div>
			<div class="community">
				<h4>Community</h4>
				<a href="#">Stack Overflow</a>
				<a href="#">Feedback</a>
			</div>
			<div class="more">
				<h4>More</h4>
				<a href="{{repository}}" target="_blank">GitHub</a>
			</div>
			<img src="img/default-logo-white.svg" alt="default-logo">
		</div>
	</div>
</body>
</html>
